menu "Custom configs"

config CUSTOM_VERSION
	bool "Use custom kernel version"
	default n
	help
	  This option replaces the kernel version found
	  in Makefile with a custom, user chosen one.

	  If unsure, say N.

endmenu
